
.company{
  height:100%;
  overflow: auto;
}
.company-box{
  display: flex;
  -ms-flex-direction: column;
  /*flex-direction: column;*/
  position: relative;
  height: 100%;
  /*flex-direction: column;*/
   /*align-items: center*/
}
/*左侧栏*/
.side_left{
  flex: 1;
  width: 12%;
  height:100%;
  flex-wrap:wrap;
  padding-top:10px;
  border-right: 2px solid #ccc;
}
.side_left .el-tree-node__content{
  border-bottom: 1px solid #ddd;
}
.side_left .el-tree-node__children .el-tree-node .el-tree-node__content{
  margin-left: 14px;
  padding-left: 0 !important;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.side_left .el-tree-node__children .el-tree-node .el-tree-node__content{
  margin-left: 14px;
  padding-left: 0 !important;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.side_left .el-tree .is-focusable .el-tree-node__children .is-focusable {
  margin-left: 13px;
}
side_left .el-tree-node__content:hover{
  background: rgb(195,232,255);
}

.side_left .el-tree-node__content:hover {
background-color: rgb(195,232,255);
}
.side_left .el-tree-node__content:visited {
  background-color: rgb(195,232,255);
}

/*右侧栏*/
.side_right {
  flex: 8;
  flex-wrap:wrap;
  width: 88%;
  padding: 20px 13px 20px 7px;
}
.side_right_top{
  border-bottom:2px dotted #ccc;
  padding-bottom:10px;
}
.side_right_top .el-form{
  display: inline-block;

}
.side_right_top .el-form-item .el-form-item__label{

  /*text-align:right;*/
  /*color: #333;*/
  /*padding-right: 10px;*/
  /*line-height: 0;*/
  width: 90px !important;
}
.side_right_top .el-form-item__content{
  line-height: 0;
  margin-right: -15px;
}

.side_right_top .el-form-item {
  margin-bottom: 10px;
  border-color:#fff;
  margin-right:0
}
.side_right_top .el-input.is-disabled .el-input__inner{
  color: #3e9ff1;
  background: transparent;
}
.side_right_top .el-input__inner{
  line-height: 24px;
  height:24px;
  border-radius: 2px;
  width: 75%;
  color: #3e9ff1;
}
.side_right_top .el-input{
  height: 0;
}


/*表格功能*/
.side_right_bottom .btns_box{
  margin:26px 0 10px 25px;
}
.btns_box_left{
  float: left;
}

.btns_box_right{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 2px;
  color: #333;
  margin-top: -5px;
  padding-left: 520px;
}
.btns_box img{
  position: relative;
  top: 1px;
  left: 31px;
  wdith:13px;
  height: 17px;
}
.btns_box .el-button--primary{
  color:#3e9ff1;
  background: #fff;
  border-color: #3e9ff1;
  padding: 8px 12px 8px 29px;
  cursor: pointer;
}
.el-table {
  width: 100% !important;
}
.el-table table{
  width: 100% !important;

}
.el-table th,td{
  text-align:center;
}
/*表格功能*/

/*表格内容*/
.info_news {
  margin: 0 0px 41px 13px;
}
.info_news .el-table__header{
  background-color: #eee;
}
.info_news .cell{
  color: #333;
  font-size: 14px;
}
/*表格内容*/
/*分页*/
.Pagination{
  float:  right;
}
.Pagination .user-length{
  position: relative;
  top: 7px;
  padding-right: 15px;
  color: #333;
  font-size: 14px;
}
.Pagination .tms-pagenation .el-select .el-input{
  margin-right: 0;
}
.Pagination .tms-pagination__sizes .el-input el-input--suffix .el-input__inner{
  margin-top: -11px
}
/*分页*/

/*其他**/

