$dialogHeader_bgcolor: #e6e6e6;
.tms_dialog {
  min-width: 680px;
  .el-dialog__header {
    background-color: $dialogHeader_bgcolor;
  }
  .el-dialog__footer {
    background-color: $dialogHeader_bgcolor;
  }
  .el-dialog__body {
    text-align: center;
    .el-transfer {}
  }
}

.tms_dialog_alignleft {
  .el-dialog__body {
    text-align: left;
    .el-transfer {}
  }
}

.tms_dialog_print_drag {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .showLabel {
    color: #67C23A;
  }
  .hideLabel {
    color: #F56C6C;
  }
  .el-dialog__header {
    background-color: #409EFF;
    .el-dialog__title {
      color: #ffffff;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #FFFFFF;
    }
  }
  .el-dialog__body {
    padding: 0;
    height: calc(100% - 60px);
    width: 100%;
    background-color: #f9f9f9;
  }
  .el-dialog__footer {
    background-color: $dialogHeader_bgcolor;
  }
  .print_aside {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    width: 350px;
    overflow: auto;
    height: calc(100% - 48px;
    );
    position: relative;
    top: 48px;
    .print_aside_head {
      position: fixed;
      top: 54px;
      left: 0;
      padding: 0 20px;
      line-height: 48px;
      background-color: #ffffff;
      display: block;
      width: 350px;
      height: 48px;
      box-shadow: 1px 3px 10px #eee;
    }
    .prinit_aside_paper {
      background-color: #f2f2f2;
      position: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding: 20px 0 10px 10px;
      .el-form-item {
        margin-bottom: 0;
        width: 48%;
        display: inline-block;
        padding-right: 1px;
        .el-input-group__append,
        .el-input-group__prepend {
          padding: 0 8px;
        }
      }
    }
    .prinit_aside_detail {
      background-color: #fbfbfb;
      position: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding: 20px 0 0px 10px;
      .prinit_aside_detail_head {
        height: 40px;
        line-height: 55px;
      }

      .el-form-item {
        margin-bottom: 0;
        width: 48%;
        display: inline-block;
        padding-right: 1px;
        .el-input-group__append,
        .el-input-group__prepend {
          padding: 0 8px;
        }
        .el-switch {
          position: absolute;
          right: 40px;
          top: 8px;
          .el-switch__core {
            width: 63px !important;
          }
          .el-switch__label * {
            font-size: 10px;
          }
          .el-switch__label--right {
            margin-left: -44px;
            color: #fff;
            z-index: 2;
          }
        }
      }
      .print_itemSet_col {
        width: 100%;
      }
    }
    .prinit_aside_setpreview {
      background-color: #fbfbfb;
      position: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding: 0px 0 10px 10px;
      .prinit_aside_setpreview_head {
        height: 40px;
        line-height: 55px;
      }
      .el-upload-dragger {
        width: 320px;
        margin-top: 10px;
        height: 120px;
        .el-icon-upload {
          margin: 25px 0 20px;
        }
      }
    }
    .prinit_aside_info {
      padding: 10px; // background-color: #fbfbfb;
    }
    .print_aside_content_form {
      label {
        padding: 0 10px;
        display: block;
        width: 100%;
        line-height: 36px;
        height: 36px;
        background-color: #eee;
        color: #409eff;
        font-weight: 900;
        position: relative;
      }
      label:before {
        content: '';
        display: block;
        width: 5px;
        height: 36px;
        background-color: #409eff;
        position: absolute;
        left: 0;
        top: 0;
      }
     
    }
     ul.print_aside_content {
        background-color: #fbfbfb;
        width: 100%;
        position: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 0;
        li {
          display: inline-block;
          cursor: pointer;
          flex-grow: 1; // float: left;
          padding: 0 10px; // background-color:#fff;
          height: 28px;
          line-height: 28px;
          b {
            font-weight: 400;
            font-style: normal;
          }

        }
      }
      li:hover b {
        border-bottom: 1px solid #999;
      }
      li.print_aside_content_self {
        .el-input{
          width: auto;
        }
      }
  }
  .print_main {
    padding: 48px 10px 10px 10px;
    border: 1px solid #eee;
    height: calc(100%);
    overflow: auto;
    position: relative;
    text-align: center;
    background-color: #eee;
    .print_main_head {
      position: fixed;
      top: 54px;
      left: 500px;
      padding: 0 10px;
      line-height: 36px;
      display: block;
      width: calc(100% - 640px);
      height: 48px;
      box-shadow: 1px 3px 10px #eee;
    }
    .print_main_content {
      margin: 20px auto 0;
      background-color: #fff;
      box-shadow: 1px 1px 20px #ddd;
      display: block;
      position: relative;
      li {
        padding: 0 3px;
        display: block;
        position: absolute;
        background-color: rgba(64, 158, 255, 0.2);
        border-radius: 3px;
        color: #666;
        border: 2px dotted #ccc;
        font-size: 14px;
        cursor: move;
      }
      .previewBlock {
        padding: 0;
        display: block;
        position: absolute;
        background-color: rgba(64, 158, 255, 0.2);
        border-radius: 3px;
        color: #666;
        border: 2px dotted #ccc;
        font-size: 14px;
        cursor: move;
        .dragTips {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.3);
          color: #fff;
          top: -28px;
          left: -2px;
          font-size: 12px;
          height: 25px;
          line-height: 25px;
          padding: 0 5px;
        }
      }
      .isActiveDrag {
        background-color: rgba(245, 219, 184, 0.8);
      }
    }
  }
  .sortable-ghost {
    border: 1px dashed #f00;
    background: #ffe;
  }
}

.dragSizeControler {
  // 缩放控制器
  position: relative;
  .conrigth {
    position: absolute;
    right: -2px;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: e-resize;
  }
  .conrigth:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .conbottom {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 5px;
    cursor: n-resize;
  }
  .conbottom:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .conbottomright {
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 10px;
    height: 10px;
    cursor: se-resize;
  }
  .conbottomright:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.tms_dialog_print {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .showLabel {
    color: #67C23A;
  }
  .hideLabel {
    color: #F56C6C;
  }
  .el-dialog__header {
    background-color: #409EFF;
    .el-dialog__title {
      color: #ffffff;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #FFFFFF;
    }
  }
  .el-dialog__body {
    padding: 0;
    height: calc(100% - 60px);
    width: 100%;
    background-color: #f9f9f9;
  }
  .el-dialog__footer {
    background-color: $dialogHeader_bgcolor;
  }
  .print_aside {
    background-color: #f2f2f2;
    float: left;
    width: 500px;
    overflow: auto;
    height: calc(100% - 48px;
    );
    position: relative;
    top: 48px;
    .print_aside_head {
      position: fixed;
      top: 54px;
      left: 0;
      padding: 0 20px;
      line-height: 48px;
      background-color: #ffffff;
      display: block;
      width: 500px;
      height: 48px;
      box-shadow: 1px 3px 10px #eee;
    }
    ul.print_aside_content {
      background-color: #fbfbfb;
      li {
        padding: 0 10px 5px;
        min-height: 48px;
        line-height: 36px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        position: relative;
        transition: 0.5s;
        .el-switch {
          position: absolute;
          right: 40px;
          top: 8px;
          .el-switch__core {
            width: 63px !important;
          }
          .el-switch__label * {
            font-size: 10px;
          }
          .el-switch__label--right {
            margin-left: -44px;
            color: #fff;
            z-index: 2;
          }
        }
        .print_aside_content_itemSet {
          position: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          .print_itemSet_col4 {
            margin-bottom: 0;
            width: 24%;
            display: inline-block;
          }
          .print_itemSet_col3 {
            margin-bottom: 0;
            width: 24%;
            display: inline-block;
            padding-right: 1px;
            .el-checkbox.is-bordered.el-checkbox--mini {
              width: 100%;
              padding: 5px 15px 3px 10px;
              background-color: #ffffff;
            }
          }
          .print_itemSet_col2 {
            margin-bottom: 0;
            width: 50.3%;
            display: inline-block;
            .el-radio-button--mini .el-radio-button__inner {
              padding: 8px 13px;
            }
          }

          .el-input {
            .el-input-group__append,
            .el-input-group__prepend {
              padding: 0 5px;
            }
          }
        }
      }
    }
    li:hover {
      background-color: #efefef;
      transition: 0.1s;
      box-shadow: 0px 0px 20px #bbb;
    }
  }
  .print_main {
    padding: 48px 10px 10px 10px;
    border: 1px solid #eee;
    height: calc(100%);
    overflow: auto;
    position: relative;
    text-align: center;
    background-color: #eee;
    .print_main_head {
      position: fixed;
      top: 54px;
      left: 510px;
      padding: 0 20px;
      line-height: 48px; // background-color: #ffffff;
      display: block;
      width: calc(100% - 520px);
      height: 48px;
      box-shadow: 1px 3px 10px #eee;
    }
    .print_main_content {
      margin: 20px auto 0;
      background-color: #fff;
      box-shadow: 1px 1px 20px #ddd;
      display: block;
      position: relative;
      .previewBlock,
      li {
        padding: 0;
        display: block;
        position: absolute;
        background-color: rgba(64, 158, 255, 0.2);
        border-radius: 3px;
        color: #666;
        box-shadow: 1px 1px 10px #87CEFA;
        font-size: 14px;
        cursor: move;
      }
    }
  }
  .sortable-ghost {
    border: 1px dashed #f00;
    background: #ffe;
  }
}

.tms_dialog_import {
  .el-dialog__body {
    min-height: 350px;
    max-height: 500px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .import_result {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    p {
      // padding:0 0 10px 0 ;
    }
  }
  .bigIconBtn_success,
  .bigIconBtn_primary {
    padding: 40px 0;
    cursor: pointer;
    text-align: center;
    i {
      margin: 10px auto;
    }
  }
  .icon-export-btn,
  .icon-import-btn {
    display: block;
    width: 70px;
    height: 70px;
  }
  .icon-import-btn {
    background-image: url('./assets/png/img-import.png');
    background-repeat: no-repeat;
  }
  .icon-export-btn {
    background-image: url('./assets/png/img-export.png');
    background-repeat: no-repeat;
  }
  ul.importTips {
    li {
      text-align: left;
      position: relative;
      color: #999;
      padding: 3px 0 3px 30px;
      font-size: 14px;
    }
    li:nth-child(1):before {
      content: '注：';
      position: absolute;
      left: 0px;
      top: 3px;
    }
  }
  .el-table.failinScroll {
    //overflow-y: ;
    .el-table__body-wrapper {
      overflow-y: scroll;
      height: 368px;
      min-height: 368px;
    }
  }
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


.tms_dialog_count {
  .el-dialog__body {
    padding: 15px;
  }
  .el-input__inner {
    width: 200px;
  }
  p {
    margin-top: 20px;
    color: #999;
  }
  .nativeinput {
    width: 200px;
    border: 1px solid #dcdfe6;
    border-radius: 3px;
  }
}



/**
 * 记账凭证 弹出框样式
 */

.incomeDialog {
  .el-dialog {
    width: 60%;
    min-width: 680px;
  }
  .el-dialog__header {
    text-align: center;
    background-color: #e6e6e6;
  }
  .el-dialog__body {
    padding: 20px 20px 10px;
  }
  .el-dialog__footer {
    text-align: center;
  }
  .income_title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .income_item_line {
    border-bottom: 1px dashed #999;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
  }
  .income_item {
    display: flex;
    flex-direction: row;
  }
  .income_item,
  .income_item_row {
    .el-form-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
      width: 100%;
      .el-form-item__content {
        width: 100%;
      }
      .el-select,
      .el-input {
        width: 100%;
      }
      .el-date-editor.el-input,
      .el-date-editor.el-input__inner {
        width: 100%;
      }
      .el-input.is-disabled .el-input__inner {
        background-color: #fff;
        color: #222;
      }
      .el-input__inner {
        width: 100%;
        height: 28px !important;
      }
    }
    .el-form-item__error {
      padding-top: 0px;
      margin-top: -5px;
      z-index: 2;
    }
  }
  .income_item_row {
    .uploadcard {
      padding: 10px; //上传图片
      .el-upload-list--picture-card .el-upload-list__item {
        width: 120px;
        height: 120px;
      }
      .el-upload-dragger {
        width: 120px;
        height: 120px;
      }
      .el-upload--picture-card {
        width: 122px;
        height: 122px;
        line-height: 20px;
      }
      .box_container .el-upload__text {
        line-height: 20px;
      }
      .upload__tip {
        line-height: 18px;
      }
      .el-form-item--mini.el-form-item,
      .el-form-item--small.el-form-item {
        margin-top: 5px;
      } //上传图片end
      .uploadlist {
        width: 100%;
        margin-left: 80px;
        li {
          float: left;
          width: 100px;
          margin-right: 10px;
        }
      }
    }
  }
}

.formItemTextDanger {
  .el-form-item__label {
    color: #ef0000;
  }
}
