$dialogHeader_bgcolor: #e6e6e6;
.tms_dialog {
  min-width: 680px;
  .el-dialog__header {
    background-color: $dialogHeader_bgcolor;
  }
  .el-dialog__footer {
    background-color: $dialogHeader_bgcolor;
  }
  .el-dialog__body {
    text-align: center;
    .el-transfer {}
  }
}


.tms_dialog_print {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .showLabel {
    color: #67C23A;
  }
  .hideLabel {
    color: #F56C6C;
  }
  .el-dialog__header {
    background-color: #409EFF;
    .el-dialog__title {
      color: #ffffff;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #FFFFFF;
    }
  }
  .el-dialog__body {
    padding: 0;
    height: calc(100% - 60px);
    width: 100%;
    background-color:#f9f9f9;
  }
  .el-dialog__footer {
    background-color: $dialogHeader_bgcolor;
  }
  .print_aside {
    background-color: #f2f2f2;
    float: left;
    width: 500px;
    overflow: auto;
    height: calc(100% - 48px;
    );
    position: relative;
    top: 48px;
    .print_aside_head {
      position: fixed;
      top: 54px;
      left: 0;
      padding: 0 20px;
      line-height: 48px;
      background-color: #ffffff;
      display: block;
      width: 500px;
      height: 48px;
      box-shadow: 1px 3px 10px #eee;
    }
    ul.print_aside_content {
      background-color: #fbfbfb;
      li {
        padding: 0 10px 5px;
        min-height: 48px;
        line-height: 36px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        position: relative;
        transition: 0.5s;
        .el-switch {
          position: absolute;
          right: 40px;
          top: 8px;
          .el-switch__core {
            width: 63px !important;
          }
          .el-switch__label * {
            font-size: 10px;
          }
          .el-switch__label--right {
            margin-left: -44px;
            color: #fff;
            z-index: 2;
          }
        }
        .print_aside_content_itemSet{
          position:flex;
          flex-direction: row;
          justify-content: space-around;
          width:100%;
          .el-form-item{
           margin-bottom: 0;
           width:24%;
           display:inline-block;
          }
          .el-input{
            .el-input-group__append, .el-input-group__prepend{
              padding: 0 5px;
            }
          }
        }
      }
    }
    li:hover {
      background-color: #dcdfe6;
      transition: 0.1s;
    }
  }
  .print_main {
    padding: 48px 10px 10px 10px;
    border: 1px solid #eee;
    height: calc(100%);
    overflow: auto;
    position: relative;
    text-align:center;
    background-color:#eee;
    .print_main_head{
      position: fixed;
      top: 54px;
      left: 510px;
      padding: 0 20px;
      line-height: 48px;
      // background-color: #ffffff;
      display: block;
      width:calc(100% - 520px);
      height: 48px;
      box-shadow: 1px 3px 10px #eee;
    }
    .print_main_content{
      margin:20px auto 0;
      background-color:#fff;
      box-shadow: 1px 1px 20px #ddd;
      display:block;
      position:relative;
      .previewBlock{
        padding:0;
        display:block;
        position:absolute;
        background-color:rgba(64,158,255,0.2);
        border-radius: 15px;
        color:#666;
        box-shadow: 1px 1px 10px #87CEFA;
        font-size:14px;
      }
    }
  }
  .sortable-ghost {
    border: 1px dashed #f00;
    background: #ffe;
  }
}
