 //覆盖一些element-ui样式 覆盖css样式可在这里添加
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}
/** 表格样式覆盖 ***/
$bodercolor: #d0d7e5;
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed,.el-table--border, .el-table--group,.el-table td, .el-table th.is-leaf{
  border-color: $bodercolor;
}
.el-table--border::after, .el-table--group::after, .el-table::before{
  background: $bodercolor;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td{
  background: #bcd6f5;
}

.el-table__column-resize-proxy{
  border-left: 1px solid #409EFF;
}

.el-table{
  table{
      th,td{
          text-align:center;
      }
  }
  .unauth{
      color: #f00;
  }
}
.el-table td, .el-table th{
  padding: 5px 0;
}
.el-table .cell{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//element ui upload
.upload-container {
  height: 116px;
  .el-upload {
    width: 100%;
    height: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 100%;
    }
  }
}

.el-table thead th, .el-table thead tr{
  background-color: #eaf0ff;  
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #eaf0ff;
}
/* 手风琴样式 */
.el-collapse-item__header{
  background: #E9F3FA;
  text-align: left;
  text-indent: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  position: relative;
  font-weight: bold;
  margin-bottom: 10px;
}
.el-collapse-item__arrow{
  position: absolute;
  left: 12px;
  top: 0;
  line-height: 30px;
  text-indent: 0;
}
.el-collapse-item__content{
  padding-bottom: 10px;
}
