.flowicon { 
	display:inline-block;
  background: url('./assets/flow/flowicon.png') no-repeat top left;  
&.huishou { background-position: 0px 0px; width: 56px; height: 60px;  } 
&.jichu { background-position: 0px -70px; width: 55px; height: 60px;  } 
&.jieshou { background-position: 0px -140px; width: 51px; height: 60px;  } 
&.fafang { background-position: 0px -210px; width: 55px; height: 60px;  } 
&.songhuoshangmen { background-position: 0px -280px; width: 62px; height: 52px;  } 
&.tihuo { background-position: 0px -342px; width: 62px; height: 52px;  } 
&.daoru { background-position: 0px -404px; width: 62px; height: 52px;  } 
&.dingdna { background-position: 0px -466px; width: 62px; height: 52px;  } 
&.yundan { background-position: 0px -528px; width: 62px; height: 52px;  } 
&.zhongzhuan { background-position: 0px -590px; width: 62px; height: 52px;  } 
&.fahuokc { background-position: 0px -652px; width: 62px; height: 52px;  } 
&.duanbo { background-position: 0px -714px; width: 62px; height: 52px;  } 
&.peizai { background-position: 0px -776px; width: 62px; height: 52px;  } 
&.daohuo { background-position: 0px -838px; width: 62px; height: 52px;  } 
&.kucun { background-position: 0px -900px; width: 62px; height: 52px;  } 
&.duobofache { background-position: 0px -962px; width: 62px; height: 52px;  } 
&.ziti { background-position: 0px -1024px; width: 39px; height: 79px;  } 
&.songhuosm { background-position: 0px -1113px; width: 62px; height: 52px;  } 
&.qianshou { background-position: 0px -1175px; width: 62px; height: 52px;  }

}
.flowitem{

}
.flowtitle{
  background: url('./assets/flow/title-bg.png') no-repeat top left;
  width: 147px;
  height: 41px;

  &-s{
    background: url('./assets/flow/s-title-bg.png') no-repeat top left;
    width: 108px;
    height: 38px;
  }
}
.flowicon1{
  display:inline-block;
  background: url('./assets/flow/flowicon2.png') no-repeat top left;
// .sprite { background: url('sprite.png') no-repeat top left;  } 
&.xf { background-position: 14px 7px; width: 52px; height: 52px;  transform: scale(1.1);} 
&.df { background-position: 8px -40px; width: 52px; height: 52px;  } 
&.yj { background-position: 0px -95px; width: 52px; height: 52px;  } 
&.hdf { background-position: 7px -131px; width: 52px; height: 52px;  } 
&.ydfy { background-position: 0px -192px; width: 52px; height: 52px;  } 
&.sjthf { background-position: 12px -234px; width: 52px; height: 52px;  } 
&.zzf { background-position: 8px -284px; width: 52px; height: 52px;  } 
&.hk { background-position: 9px -339px; width: 52px; height: 52px;  } 
&.ydfy { background-position: 0px -184px; width: 52px; height: 52px;  transform: scale(0.9);} 
&.ycpl { background-position: 0px -391px; width: 52px; height: 52px;  transform: scale(0.9);} 
&.qtfzc { background-position: 0px -440px; width: 52px; height: 52px;  transform: scale(0.9);} 
&.fchz { background-position: 5px -502px; width: 70px; height: 52px; transform: scale(0.9); } 
&.dchz { background-position: 5px -553px; width: 70px; height: 52px;  transform: scale(0.9); } 
&.zcbxf { background-position: 0px -605px; width: 52px; height: 52px;  } 
&.fczxf { background-position: 0px -660px; width: 52px; height: 52px;  transform: scale(0.9);} 
&.fzqtf { background-position: 0px -717px; width: 52px; height: 52px;  transform: scale(0.9);} 
&.dzzxf { background-position: 0px -779px; width: 70px; height: 52px;  } 
&.dzqtf { background-position: 0px -823px; width: 52px; height: 52px;  } 
&.dbf { background-position: 0px -888px; width: 52px; height: 52px;  transform: scale(0.9);} 
&.shf { background-position: 0px -947px; width: 70px; height: 52px; transform: scale(0.9); } 
&.hkdz { background-position: 0px -1005px; width: 52px; height: 52px;  } 
&.hkff { background-position: 0px -1057px; width: 52px; height: 52px;  } 
&.hkhs { background-position: 0px -1109px; width: 52px; height: 52px;  } 
&.hkhk { background-position: 0px -1161px; width: 52px; height: 52px;  } 
}
