.flowicon { 
	display:inline-block;
  background: url('./assets/flow/flowicon.png') no-repeat top left;  
&.huishou { background-position: 0px 0px; width: 56px; height: 60px;  } 
&.jichu { background-position: 0px -70px; width: 55px; height: 60px;  } 
&.jieshou { background-position: 0px -140px; width: 51px; height: 60px;  } 
&.fafang { background-position: 0px -210px; width: 55px; height: 60px;  } 
&.songhuoshangmen { background-position: 0px -280px; width: 62px; height: 52px;  } 
&.tihuo { background-position: 0px -342px; width: 62px; height: 52px;  } 
&.daoru { background-position: 0px -404px; width: 62px; height: 52px;  } 
&.dingdna { background-position: 0px -466px; width: 62px; height: 52px;  } 
&.yundan { background-position: 0px -528px; width: 62px; height: 52px;  } 
&.zhongzhuan { background-position: 0px -590px; width: 62px; height: 52px;  } 
&.fahuokc { background-position: 0px -652px; width: 62px; height: 52px;  } 
&.duanbo { background-position: 0px -714px; width: 62px; height: 52px;  } 
&.peizai { background-position: 0px -776px; width: 62px; height: 52px;  } 
&.daohuo { background-position: 0px -838px; width: 62px; height: 52px;  } 
&.kucun { background-position: 0px -900px; width: 62px; height: 52px;  } 
&.duobofache { background-position: 0px -962px; width: 62px; height: 52px;  } 
&.ziti { background-position: 0px -1024px; width: 39px; height: 79px;  } 
&.songhuosm { background-position: 0px -1113px; width: 62px; height: 52px;  } 
&.qianshou { background-position: 0px -1175px; width: 62px; height: 52px;  }

}
.flowitem{

}
.flowtitle{
  background: url('./assets/flow/title-bg.png') no-repeat top left;
  width: 147px;
  height: 41px;

  &-s{
    background: url('./assets/flow/s-title-bg.png') no-repeat top left;
    width: 108px;
    height: 38px;
  }
}