$bordercolor: #d4d4d4;
$backgroundcolor: #cbe1f7;
$mainFontSize: 14px;

  .createOrder-main{
    margin: 12px auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.47);
    padding-top: 34px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 58px;
    font-size: 12px;
    max-width: 1300px;
    // max-height: 100%;
    min-width: 1100px;
    display: flex;
    position: relative;
    flex-flow:row;

    .el-dialog__wrapper,.v-modal{
      position: absolute;
    }

    .el-date-editor.el-input{
      width: 140px;
    }

    .el-form-item--mini.el-form-item{
      margin: 0;
    }

    .el-input.is-disabled .el-input__inner{
      color: #666;
    }

    .el-table th.required>div::before{
      display: none;
    }

    .batchlist{
      flex: 0 0 60px;
      margin-right: 10px;
      margin-top: 38px;
      border-top: 1px solid #999;
      span{
        display: block;
        border: 1px solid #999;
        border-top: none;
        height: 36px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;

        &.on{
          color: #333;
          background: #cbe1f7;
          cursor: default;
        }
      }
    }

    .hideSaveNew .saveInsertKey{
      display: none;
    }

    /* &.creatBatch-main{
      .createOrderWrapper{
        width:calc(100% - 60px - 10px);
      }
    } */

    .createOrderWrapper{
      max-height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-x: hidden;
      position: relative;
      &>.el-form{
        //height: calc( 100% - 100px);
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
    
    .createOrder-title{
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 9px;
      color: #000;
      text-align: center;
      height: 28px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      span{
        border-bottom:1px solid rgba(0, 0, 0, 0.43);
      }
    }
    .order-num{
      float: left;
      padding-left: 8px;
      color: #333;
      line-height: 28px;

      .order-num-info{
        display: inline-block;
        width: 120px;
      }
      .el-input__inner{
        color: #f00;
        font-weight: bold;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
      }
    }
    .create-num{
      float: right;
      padding-right: 8px;
      color: #777;

      span{
        color: #333;
        font-weight: bold;
      }
    }
    .order-main{
      min-height: 366px;
      border: solid 2px #000827;
      margin-top: 8px;
      // max-height: calc(100% - 38px);
      flex: 1;
      overflow-y: auto;

      .required{
        color: #f00;
        font-weight: normal;
      }
    }
    
    .order-form-item{
      float: none;
    }
    .createOrder-info{
      height: 30px;
      .required{
        color: #f00;
        font-weight: normal;
      }
    }

    .el-select__caret::before{
      content:"\E60C";
    }
    
    .showFormInfo{
      .el-input.is-disabled .el-input__inner{
        color: #000;
      }
    }

    .order-form-label{
      color: #666;
      font-size: $mainFontSize;
    }

    .order-form-item{
      display: flex;
      line-height: 28px;
      .order-form-label{
        width: 66px;
        text-align: justify;
        border-right: 1px solid $bordercolor;
        height: 28px;
        overflow: hidden;
        padding: 0 5px;

        &:after{display: inline-block ; content: ''; padding-left: 100%;height: 0;width: 0;line-height: 0; }
      }
      
      .el-form-item{
        flex: 1;
      }
      .autocomplete-input,.el-form-item__content,.el-autocomplete,.el-select{
        display: block;
        width: 100%;
      }
      .el-input__suffix{
        right: 0;
      }
      .el-form-item__content{
        height: 28px;
        overflow:hidden;
      }
      .el-input__inner{
        vertical-align: 1px;
        font-size: $mainFontSize;
      }
      .el-form-item.is-error .el-input__inner{
        border-color: #f56c6c;
      }
    }

    .firstline-order{
      border-bottom: 1px solid $bordercolor;
      
      .el-col:first-child .order-form-label{
        border-left: none;
      }
      .order-form-label{
        display: inline-block;
        
        border-left: 1px solid $bordercolor;
        
      }
      .el-input__inner{
        border-color: transparent;
        border-radius: 0;

        &:focus{
          background: rgba(0, 0, 0, 0.04);
        }
      }
      
    }

    .el-checkbox__label{
      font-size: 12px;
    }
    
    /* 收发货表单 */
    .sender-form,.receiver-form{
      float: left;
      width: calc( (100% - 5px) / 2 );

      .order-form-item{
        border-bottom: 1px solid $bordercolor;

        &:last-child{
          border: none;
        }
      }

      .form-title{
        border-bottom: 1px solid $bordercolor;
        line-height: 28px;
        text-align: center;
        font-size: 16px;
        color: #5dabed;
        background: $backgroundcolor;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .el-input__inner{
        border-color: transparent;
        border-radius: 0;

        &:focus{
          background: rgba(0, 0, 0, 0.04);
        }
      }
    }
    .sender-form{
      border-right: 1px solid $bordercolor;
    }
    .receiver-form{
      float: right;
      border-left: 1px solid $bordercolor;
    }

    /** 货品表单 **/
    .order-cargo-form{
      overflow: auto;
      margin-bottom: 1px;
      width: 100%;

      th{
        min-width: 110px;
        background: #d5e7f9;
        color: #666;
        height: 28px;
        vertical-align: middle;
        border-left: 1px solid #88bef3;
        text-align: center;
        font-weight: normal;
      }
      .el-table .cell{
        padding: 0;
      }
      .el-table td{
        padding: 0;
      }
      .el-form-item,.el-form-item__content,.autocomplete-input,.el-autocomplete{
        width: 100%;
      }

      /* table, td{
        border: 1px solid $bordercolor;
        text-align: center;
      }
      td, th{
        padding: 0 0;
        height: 28px;
      }
      th{
        min-width: 110px;
        background: #d5e7f9;
        color: #666;
        height: 28px;
        vertical-align: middle;
        border-left: 1px solid #88bef3;
        text-align: center;
      } */
      .addButtonTh{
        min-width: 50px;
      }
      .el-input__inner{
        border-color: transparent;
        border-radius: 0;

        &:focus{
          background: rgba(0, 0, 0, 0.04);
        }
      }
      .el-form-item__content>input{
        font-size: 12px;
      }
      .el-form-item.is-error .el-input__inner{
        border-color: #f56c6c;
      }
      .addButton, .minusButton{
        display: inline-block;
        width: 18px;
        height: 18px;
        text-align: center;
        border: 1px solid #3b95ee;
        color: #3b95ee;
        line-height: 14px;
        border-radius: 4px;

        cursor: pointer;

        i{
          font-weight: bold;
          vertical-align: middle;
        }
      }
      .minusButton{
        border-color: #ee3b3b;
        color: #ee3b3b;
      }
    }
    /* 其他费用 */
    .order-other-form{
      border-top: 1px solid $bordercolor;
      border-bottom: 1px solid $bordercolor;
      margin-bottom: 1px;

      .order-form-item{
        border-bottom: 1px solid $bordercolor;
      }

      .fouth-order-other{
        .order-form-item{
          border-bottom: none;
        }
      }

      .el-col:first-child .order-form-label{
        border-left: none;
      }
      .order-form-label{
        display: inline-block;
        
        border-left: 1px solid $bordercolor;
        
      }

      .el-input__inner{
        border-color: transparent;
        border-radius: 0;

        &:focus{
          background: rgba(0, 0, 0, 0.04);
        }
      }

      .el-input-group__append{
        padding: 0 5px;
        border-radius: 0;
        border: none;
      }
      .el-checkbox{
        margin-left: 10px;
      }
      .el-checkbox{
        font-size: 0;
      }
      .el-checkbox__label{
        vertical-align: middle;
      }

      .other-form-shipReceiptNum{
        padding: 0;
        .el-input__inner{
          padding: 0;
          text-align: center;
        }
      }

      .remarks-btn{
        position: absolute;
        top: 0;
        right: 1px;
        color: #3189e2;
        border-color: #3189e2;
        z-index: 2;
      }
    }

    /* 中转信息 */
    .order-transfer-form{
      .el-input__inner{
        border-color: transparent;
        border-radius: 0;

        &:focus{
          background: rgba(0, 0, 0, 0.04);
        }
      }

      .el-collapse,.el-collapse-item__wrap{
        border-bottom: none;
      }
      .el-collapse-item__content{
        overflow-x: auto;
        padding-bottom: 0;
      }
      th{
        height: 30px;
        line-height: 30px;
        background: #eee;
      }
      table,td,th{
        border: 1px solid $bordercolor;
      }

      .el-collapse-item:last-child{
        margin-bottom: 0;
      }
      
    }

    /* 专线价格信息 */
    .createOrder-line-info{
      height: 22px;
      width: 100%;
      line-height: 22px;
      margin-top: 5px;
      text-align: left;
    }
    .line-info-tip{
      display: inline-block;
      padding: 0 3px;
      line-height: 20px;
      border: 1px solid green;
      color: green;
      border-radius: 3px;
      margin-left: 5px;
      &.line-tip-abnormal{
        border-color: orange;
        color: orange;
      }
      &.line-tip-bigabnormal{
        border-color: red;
        color: red;
      }
    }
    

    /* 底部按钮部分 */
    .order-btns{
      padding-top: 21px;
      text-align: center;
      position: relative;
      height: 72px;
      top: -10px;

      .el-button{
        font-size: 14px;
        padding: 10px;
        //background: transparent;
        i{
          font-size: 1.5em;
          vertical-align: middle;
        }
      }
      .createOrder-setup{
        
        position: absolute;
        top: 8px;
        right: 8px;

        .el-button{
          font-size: 16px;
          padding: 2px;
        }
      }
    }
  }