/**
 * 公用样式
 * 
 */

$popItemLineHeight: 32px;
$popItemHeight: 300px;
$floatPanelBgcolor: rgba(255, 255, 255, 0.8);
// $floatPanelBgcolor: rgba(0, 0, 0, 0.4);
$floatPanelBoxShoadow: 1px 1px 10px #ccc;
// $themeDarkBgColor: rgba(0,0,0,0.8);
#trucklogmap,
#allmap {
  height: 100%;
  width: 100%;
  box-shadow: $floatPanelBoxShoadow;
  margin-bottom: 10px;
}


.track-truck-log {
  height: calc(100% - 33px) !important;
}

.truck-log {
  height: calc(100% - 0px) !important;
}

.truck-page-log {
  height: calc(100% - 0px) !important;
}



/* 选择车弹出框 */

.track-truck-log,
.truck-log {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 10px;
  .markerContent {
    padding: 5px 5px 0 5px;
    background-color: $floatPanelBgcolor;
    border: none;
    max-width: 300px;
    h3,
    p {
      margin-bottom: 5px;
      word-spacing: normal;
      white-space: pre-wrap;
    }
  }
  .popTimer {
    position: absolute;
    left: 70px;
    top: 20px;
    padding: 5px 5px; // background-color: rgba(64, 158, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: $floatPanelBoxShoadow;
    border-radius: 5px;
    overflow: hidden;
    clear: both;
    font-size: 14px;
    color: #fff;
    z-index: 2;
  }
  .popTree {
    position: absolute;
    width: 300px;
    height: 310px;
    right: 10px;
    top: 65px;
    padding: 10px 5px;
    overflow: hidden;
    clear: both;
    z-index: 2;
    .el-card__body {
      padding: 0;
      height: 100%;
    }
    .popTree-group {
      float: left;
      width: 100%;
      height: 100%;
      display: block;
      overflow: auto;
      .popTree-group-item.active {
        color: #409eff;
      }
    }
    .popTree-group-item {
      cursor: pointer;
      color: #333;
      font-size: 14px;
      &:hover {
        color: #409eff;
        background-color: #f2f2f2;
      }
      p {
        margin: 0 5px;
        line-height: $popItemLineHeight;
        &:hover {}
      }
    }
  }

  .truck-log-expand {
    background-color: #409eff;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #ffffff;
    padding: 0 10px;
    position: relative;
    .control-bur {
      cursor: n-resize;
    }
    .el-button {
      float: right;
      margin-top: 5px;
      margin-left: 15px;
      font-size: 14px;
      &:hover {
        border-bottom: 3px solid #fff;
      }
    }
    .el-button--text {
      color: #fff;
    }

    .control-panel {
      position: absolute;
      display: block;
      float: left;
      width: 495px;
      color: #333;
      background-color: $floatPanelBgcolor;
      box-shadow: $floatPanelBoxShoadow;
      border-radius: 5px;
      right: 10px;
      top: -65px;
      z-index: 2;
      .el-button--text {
        margin: 2px 3px;
        color: #333;
        float: left;
        font-size: 20px;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          color: #409eff;
        }
      }
      .btn-stop {
        padding-top: 11px;
        &:before {
          content: '=';
          font-size: 30px;
          line-height: 20px;
          transform: rotate(90deg);
          display: block;
          padding: 0;
          margin: 0;
        }
      }
      span {
        margin-left: 5px;
      }
      i,
      span {
        float: left;
        margin-top: 5px;
      }
      .slider-step {
        float: left;
        width: 100px;
        margin: 5px 10px;
        .el-slider__runway {
          background-color: #ddd;
        }
      }
      .el-progress {
        float: left;
        margin: 14px 10px 0;
        width: 180px;
        .el-progress-bar__outer {
          background-color: #ddd;
        }
      }
    }
  }
  .truck-log-info {
    .info_tab {
      margin-bottom: 40px;
    }
    .rowSelect {
      // color: #fff;
      background-color: #E6A23C;
    }
    .info_tab_footer {
      padding-left: 20px;
      background: #eee;
      height: 40px;
      line-height: 40px;
      box-shadow: 0 -2px 2px rgba(0, 0, 0, .1);
      position: relative;
      z-index: 10;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .show_pager {
      float: right;
      line-height: 40px;
      height: 40px;
      overflow: hidden;
    }
  }
  .search-card {
    display: block;
    background-color: $floatPanelBgcolor;
    padding: 10px 10px 5px;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 2;
    box-shadow: $floatPanelBoxShoadow;
    border-radius: 5px;
    .el-form {
      .el-form-item--mini.el-form-item,
      .el-form-item--small.el-form-item {
        margin-bottom: 8px;
      }
      .el-range-editor--mini.el-input__inner {
        width: 213px;
      }
    }
  }
}




/**
 * 轨迹跟踪  终端信息
 * 运单+车辆 
 */

.heightvhPoptree {
  .popTree {
    .el-card__body {
      padding: 0;
      height: 100%;
      max-height: calc(100vh - 400px);
      overflow: auto;
    }
  }
}
.truck-page-log {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 10px 0 10px 10px;
  .markerContent {
    padding: 5px 5px 0 5px;
    background-color: $floatPanelBgcolor;
    border: none;
    max-width: 300px;
    h3,
    p {
      margin-bottom: 5px;
      word-spacing: normal;
      white-space: pre-wrap;
    }
  }

  .popTimer {
    position: absolute;
    left: 70px;
    top: 20px;
    padding: 5px 5px; // background-color: rgba(64, 158, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: $floatPanelBoxShoadow;
    border-radius: 5px;
    overflow: hidden;
    clear: both;
    font-size: 14px;
    color: #fff;
    z-index: 2;
  }
  .popTree {
    
    .popTree-group-item {
      border-bottom: 1px solid #eee;
      padding: 10px;
      cursor: pointer;
      position: relative;
       background-color: #fff;
      transition: 0.5s;
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: #eee;
        transition: 0.3s;
      }
      h3 {
        font-size: 16px;
        font-style: normal;
        i {
          font-style: normal;
          font-size: 14px;
          color: #999;
        }
      }
      .popTree-group-item-desc {
        padding: 0 25px;
        h4 {
          font-size: 14px;
          line-height: 28px;
          color: #666;
        }
        i,
        span {
          color: #666;
          font-size: 12px;
          font-style: normal;
        }
      }
    }
    .activeItem {
        transition: 0.5s;
        background-color: #eee;
       &:before {
        transition: 0.3s;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: #409eff;
      }
    }
  }

  .truck-log-expand {
    font-size: 14px;
    color: #ffffff;
    padding: 0 0px 0 10px;
    position: relative;
    .control-bur {
      cursor: n-resize;
      background-color: #409eff;
    }
    .el-button {
      float: right;
      margin-top: 5px;
      margin-left: 15px;
      font-size: 14px;
      &:hover {
        border-bottom: 3px solid #fff;
      }
    }
    .el-button--text {
      color: #fff;
    }

    .control-panel {
      position: absolute;
      display: block;
      float: left;
      width: 495px;
      color: #333;
      background-color: $floatPanelBgcolor;
      box-shadow: $floatPanelBoxShoadow;
      border-radius: 5px;
      right: 20px;
      bottom: 10px;
      z-index: 2;
      .el-button--text {
        margin: 2px 3px;
        float: left;
        color: #333;
        font-size: 20px;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          color: #409eff;
        }
      }
      .btn-stop {
        padding-top: 11px;
        &:before {
          content: '=';
          font-size: 30px;
          line-height: 20px;
          transform: rotate(90deg);
          display: block;
          padding: 0;
          margin: 0;
        }
      }
      span {
        margin-left: 5px;
      }
      i,
      span {
        float: left;
        margin-top: 5px;
      }

      .speed-sudu,
      .speed-slow,
      .speed-quick {
        padding-top: 10px;
      }
      .speed-slow {
        color: #e6a23c;
      }
      .speed-quick {
        color: #409eff;
      }
      .slider-step {
        float: left;
        width: 100px;
        margin: 5px 10px;
        .el-slider__runway {
          background-color: #ddd;
        }
      }
      .el-progress {
        float: left;
        margin: 14px 10px 0;
        width: 180px;
        .el-progress-bar__outer {
          background-color: #ddd;
        }
      }
    }
  }
  .truck-log-info {
    position: relative;
    padding-right: 10px;
    .info-btns{
      padding: 5px;
      background-color: #eee;
      .btnsright{
        float: right;
        margin-right: 0px;
      }
    }
    .info_tab {
      height: calc(100% - 80px);
      position: relative;
    }
    .table-contr {
      // background-color: #eee;
      position: absolute;
      height: 100%;
      width: 10px;
      right: 0px;
      top: 0px;
      // cursor: w-resize;
      transition: 0.5s;
      &:hover {
        // background-color: #ccc;
        transition: 0.3s;
      }
    }

    .rowSelect {
      background-color: #E6A23C;
    }
    .info_tab_footer {
      padding-left: 5px;
      background: #eee;
      height: 40px;
      line-height: 40px;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, .2);
      z-index: 10;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 12px;
      .tms-pagination__sizes{
        margin-top: 10px;
      }
    }
    .show_pager {
      float: right;
      line-height: 40px;
      height: 40px;
      overflow: hidden;
    }
  }
  .search-card {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    border-radius: 5px;
    .el-tabs--border-card{
    background-color: $floatPanelBgcolor;
    box-shadow: $floatPanelBoxShoadow;
    }
    .el-form {
      // padding: 10px 10px 5px;
      .el-form-item--mini.el-form-item,
      .el-form-item--small.el-form-item {
        margin-bottom: 8px;
      }

      .el-form-item__label {
        // color: #fff;
      }
      .el-range-editor--mini.el-input__inner {
        width: 213px;
      }
      .el-autocomplete {
        width: 100%;
      }
       .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 100%;
      }
    }
  }
}

// .truck-page-log {
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   width: 100%;
//   padding: 10px;
//   .markerContent {
//     padding: 5px 5px 0 5px;
//     background-color: $floatPanelBgcolor;
//     border: none;
//     max-width: 300px;
//     h3,
//     p {
//       margin-bottom: 5px;
//       word-spacing: normal;
//       white-space: pre-wrap;
//     }
//   }
//   .popTimer {
//     position: absolute;
//     left: 70px;
//     top: 20px;
//     padding: 5px 5px; // background-color: rgba(64, 158, 255, 0.5);
//     background-color: rgba(0, 0, 0, 0.3);
//     box-shadow: $floatPanelBoxShoadow;
//     border-radius: 5px;
//     overflow: hidden;
//     clear: both;
//     font-size: 14px;
//     color: #fff;
//     z-index: 2;
//   }
//   .popTree {
//     .el-card__body {
//       padding: 0;
//       height: calc(100vh - 265px);
//       overflow: auto;
//     }
//     .popTree-group-item {
//       border-bottom: 1px solid #eee;
//       padding: 10px;
//       cursor: pointer;
//       transition: 0.5s;
//       &:last-child {
//         border: none;
//       }
//       &:hover {
//         background-color: #eee;
//         transition: 0.3s;
//       }
//       h3 {
//         font-size: 16px;
//         font-style: normal;
//         i {
//           font-style: normal;
//           font-size: 14px;
//           color: #999;
//         }
//       }
//       .popTree-group-item-desc {
//         padding: 0 25px;
//         h4 {
//           font-size: 14px;
//           line-height: 28px;
//           color: #666;
//         }
//         i,
//         span {
//             color: #666;
//             font-size: 12px;
//             font-style: normal;
//           }
//       }
//     } 
//   }
//   .truck-log-expand {
//     // background-color: #409eff;
//     // height: 36px;
//     // line-height: 36px;
//     font-size: 14px;
//     color: #ffffff;
//     padding: 0 10px;
//     position: relative;
//     .control-bur {
//       cursor: n-resize;
//     }
//     .el-button {
//       float: right;
//       margin-top: 5px;
//       margin-left: 15px;
//       font-size: 14px;
//       &:hover {
//         border-bottom: 3px solid #fff;
//       }
//     }
//     .el-button--text {
//       color: #fff;
//     }
//     .control-panel {
//       position: absolute;
//       display: block;
//       float: left;
//       width: 495px;
//       color: #333;
//       background-color: $floatPanelBgcolor;
//       box-shadow: $floatPanelBoxShoadow;
//       border-radius: 5px;
//       right: 10px;
//       top: -65px;
//       z-index: 2;
//       .el-button--text {
//         margin: 2px 3px;
//         color: #333;
//         float: left;
//         font-size: 20px;
//         transition: 0.3s;
//         &:hover {
//           transition: 0.3s;
//           color: #409eff;
//         }
//       }
//       .btn-stop {
//         padding-top: 11px;
//         &:before {
//           content: '=';
//           font-size: 30px;
//           line-height: 20px;
//           transform: rotate(90deg);
//           display: block;
//           padding: 0;
//           margin: 0;
//         }
//       }
//       span {
//         margin-left: 5px;
//       }
//       i,
//       span {
//         float: left;
//         margin-top: 5px;
//       }
//       .slider-step {
//         float: left;
//         width: 100px;
//         margin: 5px 10px;
//         .el-slider__runway {
//           background-color: #ddd;
//         }
//       }
//       .el-progress {
//         float: left;
//         margin: 14px 10px 0;
//         width: 180px;
//         .el-progress-bar__outer {
//           background-color: #ddd;
//         }
//       }
//     }
//   }
//   .truck-log-info {
//     .info_tab {
//       margin-bottom: 40px;
//     }
//     .rowSelect {
//       // color: #fff;
//       background-color: #E6A23C;
//     }
//     .info_tab_footer {
//       padding-left: 20px;
//       background: #eee;
//       height: 40px;
//       line-height: 40px;
//       box-shadow: 0 -2px 2px rgba(0, 0, 0, .1);
//       position: relative;
//       z-index: 10;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       width: 100%;
//     }
//     .show_pager {
//       float: right;
//       line-height: 40px;
//       height: 40px;
//       overflow: hidden;
//     }
//   }
//   .search-card {
//     display: block;
//     background-color: $floatPanelBgcolor;
//     position: absolute;
//     right: 10px;
//     top: 20px;
//     z-index: 2;
//     box-shadow: $floatPanelBoxShoadow;
//     border-radius: 5px;
//     .el-form {
//       padding: 10px 10px 5px;
//       .el-form-item--mini.el-form-item,
//       .el-form-item--small.el-form-item {
//         margin-bottom: 8px;
//       }
//       .el-range-editor--mini.el-input__inner {
//         width: 213px;
//       }
//       .el-autocomplete {
//         width: 100%;
//       }
//     }
//   }
// }

/**
 * dark
 */
